* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  color: rgb(61, 87, 145);
}
.container {
  min-height: 100vh;
  /* background-image:linear-gradient( 69.7deg, rgb(165, 23, 30) 1.4%, rgb(189, 177, 7) 36.2%, rgb(50, 135, 7) 72.2%, rgb(0, 3, 205) 113% ) ; */
  background-image: linear-gradient( 65.4deg,  rgba(56,248,249,1) -9.1%, rgba(213,141,240,1) 48%, rgba(249,56,152,1) 111.1% );
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  position: relative;
}
.container h1 {
  font-size: 7rem;
  color: #fff;
  position: absolute;
  top: 20%;
  right: -26%;
  transform: translate(-50%, -50%);
  filter: drop-shadow(0 0 1px black);
}
.container h1:nth-child(1) {
  color: transparent;
  -webkit-text-stroke: 2px #0347f4;
}

.container h1:nth-child(2) {
  color: #fe013c;
  animation: animate 4s ease-in-out infinite;
}

@keyframes animate {
  0%,
  100% {
    clip-path: polygon(
      0% 45%,
      16% 44%,
      33% 50%,
      54% 60%,
      70% 61%,
      84% 59%,
      100% 52%,
      100% 100%,
      0% 100%
    );
  }

  50% {
    clip-path: polygon(
      0% 60%,
      15% 65%,
      34% 66%,
      51% 62%,
      67% 50%,
      84% 45%,
      100% 46%,
      100% 100%,
      0% 100%
    );
  }
}


.ballons {
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
  justify-content: center;
  align-items: center;
  padding-top: 8rem;
  filter: drop-shadow(0 0 3px white);
}

.container a {
    text-decoration: none;
    font-size: 1.8rem;
    padding: 0.4rem 0.7rem;
    box-shadow: 0 0 4px rgb(203, 8, 203);
    font-stretch: extra-expanded;
    text-shadow: 0 0 4px greenyellow;
    color: #c70070;
    font-weight: 600;
    font-family: 'Pacifico', cursive;
    border-top-right-radius: 35px;
    border-bottom-left-radius: 15px;
    border-left: 2px solid #c70070;
    border-right: 2px solid #c70070;
}

#title {
  height: 150px;
  width: 400px;
  filter: drop-shadow(0 0 4px rgb(44, 44, 173));
}

#play {
    min-height: 100vh;
    background-image: linear-gradient(
      103.3deg,
      rgb(232, 236, 119) 30%,
      rgb(255, 163, 209) 55.7%,
      rgba(162, 186, 245, 1) 81.8%
    );
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

#board {
  width: 375px;
  height: 375px;
  border: 10px solid;
  border-radius: 10px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.495);
}

#board img {
  width: 118px;
  height: 118px;
  border: 1px solid black;
  border-radius: 4px;
  box-shadow: 0 0 2px black;
}
.left{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.right{
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.right button{
    background-color: transparent;
    font-size: 1.5rem;
    padding: 0.5rem;
    border-top-left-radius: 13px;
    border-bottom-right-radius: 13px;
    box-shadow: 0 0 2px black;
}
.right svg{
    color: rgb(255, 204, 0);
    filter: drop-shadow(0 0 3px black);
}
#hints{
    margin: 1rem;
    filter: drop-shadow(0 0 3px gold);
}